:host ::ng-deep button {
    margin: 0px 0px 0px 0px;
    height: 10px;
    width: 20px;
}

:host ::ng-deep .p-menuitem-content {
    height: 30px;
    width: 220px;
}

:host ::ng-deep .p-tieredmenu {
    width: 220px;
}

:host ::ng-deep .p-sidebar-content {
    margin-left: -5px;
}




